---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    app.quarkus.io/quarkus-version: 3.29.0
    app.quarkus.io/commit-id: a1859a0504668b53d935b4127f81fa508576e638
    app.quarkus.io/vcs-uri: https://github.com/united-security-providers/coraza-operator-oss.git
    app.quarkus.io/build-timestamp: 2025-11-21 - 22:04:31 +0000
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
    app.kubernetes.io/managed-by: quarkus
  name: coraza-operator
  namespace: corazawaf-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
  name: corazawafreconciler-cluster-role
rules:
  - apiGroups:
      - oss.u-s-p.ch
    resources:
      - corazawafs
      - corazawafs/status
      - corazawafs/finalizers
    verbs:
      - get
      - list
      - watch
      - patch
      - update
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
  name: josdk-crd-validating-cluster-role
rules:
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
  name: corazawafreconciler-crd-validating-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: josdk-crd-validating-cluster-role
subjects:
  - kind: ServiceAccount
    name: coraza-operator
    namespace: corazawaf-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
  name: corazawafreconciler-cluster-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: corazawafreconciler-cluster-role
subjects:
  - kind: ServiceAccount
    name: coraza-operator
    namespace: corazawaf-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
  name: coraza-operator-view
  namespace: corazawaf-operator-system
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: view
subjects:
  - kind: ServiceAccount
    name: coraza-operator
    namespace: corazawaf-operator-system
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    app.quarkus.io/quarkus-version: 3.29.0
    app.quarkus.io/commit-id: a1859a0504668b53d935b4127f81fa508576e638
    app.quarkus.io/vcs-uri: https://github.com/united-security-providers/coraza-operator-oss.git
    app.quarkus.io/build-timestamp: 2025-11-21 - 22:04:31 +0000
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
    app.kubernetes.io/managed-by: quarkus
  name: coraza-operator
  namespace: corazawaf-operator-system
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app.quarkus.io/quarkus-version: 3.29.0
    app.quarkus.io/commit-id: a1859a0504668b53d935b4127f81fa508576e638
    app.quarkus.io/vcs-uri: https://github.com/united-security-providers/coraza-operator-oss.git
    app.quarkus.io/build-timestamp: 2025-11-21 - 22:04:31 +0000
  labels:
    app.kubernetes.io/name: coraza-operator
    app.kubernetes.io/version: 1.0.0
    app.kubernetes.io/managed-by: quarkus
  name: coraza-operator
  namespace: corazawaf-operator-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: coraza-operator
      app.kubernetes.io/version: 1.0.0
  template:
    metadata:
      annotations:
        app.quarkus.io/quarkus-version: 3.29.0
        app.quarkus.io/commit-id: a1859a0504668b53d935b4127f81fa508576e638
        app.quarkus.io/vcs-uri: https://github.com/united-security-providers/coraza-operator-oss.git
        app.quarkus.io/build-timestamp: 2025-11-21 - 22:04:31 +0000
      labels:
        app.kubernetes.io/managed-by: quarkus
        app.kubernetes.io/name: coraza-operator
        app.kubernetes.io/version: 1.0.0
    spec:
      containers:
        - env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: QUARKUS_OPERATOR_SDK_CONTROLLERS_CORAZAWAFRECONCILER_NAMESPACES
              value: JOSDK_ALL_NAMESPACES
          image: ghcr.io/united-security-providers/corazawaf-operator-oss:v1.0.0
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          name: coraza-operator
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          startupProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/started
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
      serviceAccountName: coraza-operator
